container {
    display: flex;
    flex-wrap: wrap;
}

#proj{
    position:relative;
    bottom:0;
    left:400px;
}

.card {
    width: calc(33.33% - 20px);
    background-color: #8bb9fe;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 0;
}