@media all and (max-width:1440px) and (min-width: 1025px){
    footer{

        position: relative;
        top: -50px;
    }
    footer h4{
        position: relative;
        top: 120px;

    }

    #servic div{
        display: inline-block;
        position: relative;
        right: 10px;
    }
    #servic div div{
        height: 260px;
        background-color: #F4F4F4;
        width: 300px;
        border-radius: 5%;
        position: relative;
        left: 80px;
        margin-right:17px ;
        top:-80px;
    }
    /*/////////////////////////////////////////////////*/
    #Skill div{
        height: 300px;
        position: relative;
        top :-80px;
        right:20px

    }
    #Skill div div img{
        width:20%;
        position: relative;
        left: 105px;
        top: -10px;
    }
    #Skill div div{
        display: inline-block;
        height: 100px;
        width: 260px;
        left: 100px;
        margin-bottom: 25px;
        text-align: center;


    }
    #edu{

        position: relative;
        top: -730px;
        right: 450px;
    }
}
@media all and (max-width:1385px) and (min-width: 1025px){
    #Skill div div{
        display: inline-block;
        height: 100px;
        width: 260px;
        left:10px;

    }
    #Skill h1{

        position: relative;
        top: -95px;
        left: 580px;

    }
    #Skill h3{
        position: relative;
        left:580px;
        width: 500px;
        top: -240px;

    }
    #servic{

        position: relative;
        right: 30px;
    }
    #servic h1{
        position: relative;
        left: 580px;

    }
    #servic h3{
        position: relative;
        left:610px;
        width: 500px;
        top: -150px;


    }
    #project h1{
        position: relative;
        left: 580px;
        width: 500px;

    }
    #project h3{

        position: relative;
        left:620px;
        width: 500px;

    }
    #edu{

        position: relative;
        top: -700px;
        right: 450px;
    }
}
@media all and (max-width:1316px) and (min-width: 1025px){

    #Skill div div{
        display: inline-block;
        height: 100px;
        left: 150px;
        margin-bottom: 10px;
        text-align: center;

    }
    #servic{
        width: 100%;
        position: relative;
        top : -180px;
        left:-50px

    }
    #servic h1{

        position: relative;
        left: 550px;


    }
    #servic h3{

        position: relative;
        left:580px;

    }
    #project h1{
        position: relative;
        left: 550px;
      top: 100px;


    }
    #project h3{

        position: relative;
        left:580px;
        top: -30px;

    }

}
@media all and (max-width:1281px) and (min-width: 1025px){
    #About{
        width: 100%;

    }
    #About h1{
        position: relative;
        left: 450px;
    }
    #About h3{
        position: relative;
        left: 480px;
    }
    #About div img{
        width: 25%;
        position: relative;
        left: 170px;
    }
    #im ul{
        position: relative;
        left: 600px;

    }


    #im p {

        position: relative;
        left:580px;
    }
    #cvv{
        position: relative;
        left: 580px;

    }


    #edu{

        position: relative;
        top: -670px;
        right: 450px;
    }
    #ed {
        position: relative;
        left: 300px;

    }
    #Skill{
        width: 100%;
        position: relative;
        left:-40px;
        top:-30px
    }
    #servic{

        position: relative;
        top : -260px;

    }
    #servic div div{
        height: 250px;
        width: 250px;
        position: relative;
        left: 150px;
        margin-right:20px ;
        top:-80px;
    }
    #project h1{

        position: relative;
        width: 500px;
        font-weight: bold;
        top:-10px;
        display:inline-block;

    }
    #project h3{
        left:600px;
        width: 500px;;
        top: -150px;

    }
    footer{
        height: 5px;
        width: 100%;
        position: relative;
        top: -150px;
    }
    #section-wrapper{
        width: 100%;

        position: relative;
        top: -650px;
        height: 500px;

    }
    footer h4{
        text-align: center;
        font-family: 'Encode Sans Semi Condensed', sans-serif;

    }

}
@media all and (max-width:1212px) and (min-width: 1025px){
    #About div img{
        width: 25%;
        position: relative;
        left: 200px;
        top: -100px;
    }
    #edu{
        position: relative;
        top: -620px;
        right: 450px;
    }
    #Skill{
      position: relative;
        top:-100px;
        left: -50px;
    }
    #servic{

        position: relative;
        top : -270px;
        left:-80px;
    }
    #project h1{

        position: relative;
        left: 470px;
        width: 500px;

    }
    #project h3{

        position: relative;
        left:500px;

        top: -140px;

    }
    footer {
        height: 5px;
        width: 100%;
        position: relative;
        top: -10px;
    }
}
@media all and (max-width:1150px) and (min-width: 1025px){
    #About {

        position: relative;
        left: -50px;
    }
    #Skill {
        position: relative;
        left: -100px;
    }
    #servic{
        position: relative;
        left: -110px;
    }
    }
@media all and (max-width:1114px) and (min-width: 1025px){
    #ruchaka{
        position: relative;
        left: 600px;

    }
    #cv{

        position: relative;
        left: 400px;

    }

    #hire{
        position: relative;

        left: 430px;

    }
    #About{
        position: relative;
        left: -70px;
    }
    #About h1{

        position: relative;
        left: 450px;
        top: -20px;
    }
    #About h3{

        position: relative;
        left: 500px;
        top: -160px;


    }

    #edu{
        position: relative;
        top: -570px;
        right: 320px;
    }
    #Skill h1{

        position: relative;

        left: 530px;


    }
    #Skill h3{

        position: relative;
        left:530px;

    }
    #servic h1{

        position: relative;
        left: 500px;



    }
    #servic h3{

        position: relative;
        left:520px;


    }
    #servic div{
        display: inline-block;

    }
    #servic div div{
        height: 260px;
        background-color: #F4F4F4;
        width: 400px;
        border-radius: 5%;
        position: relative;
        left: 280px;
        margin-right:20px ;
        margin-bottom: 20px;
        top:-80px;
    }
    #servic div div img{
        width: 20%;
        position: relative;
        left: 150px;
        top: 50px;
    }
    #project{
        position: relative;
        top: -100px;
    }
    #project h1{

        position: relative;
        left: 410px;
        width: 500px;

    }
    #project h3{
        position: relative;
        left:440px;

    }
    #btnViewMore{
        position: relative;
        left: 300px;
    }
    #section-wrapper{

        position: relative;
        top: -300px;


    }
    footer{

        position: relative;
        top: 390px;
    }
}
@media all and (max-width:1054px) and (min-width: 1025px){

    #About h1{

        position: relative;
        left: 360px;



    }
    #About h3{

        position: relative;
        left: 400px;

    }



    #im {
        height: 100px;
        position: relative;
        left: -40px;
        top: 50px;
    }

    #cvv{
      position: relative;
        top: -170px;
    }
    #cvv:hover{
        color : #1289CC;
    }

    #ed {
        position: relative;
        left: 300px;

    }
    #ed p{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 17px;
        font-weight: bold;
    }

    #Skill h1{
        position: relative;
        left: 490px;

    }
    #Skill h3{

        position: relative;
        left:490px;

    }

    #Skill div div{

        width: 19%;
        left: 100px;
        text-align: center;

    }
    #Skill div div h4{
       position: relative;
        left:27px;
    }

    #servic{

        position: relative;
        top : -420px;
        left:-140px;
    }
    #project{
        position: relative;
        top: -260px;
    }
    #section-wrapper{

        position: relative;
        top: -500px;


    }

    footer{

        position: relative;
        top: 210px;
    }
}
