@media all and (max-width: 1440px) and (min-width: 1025px) {
    footer {

        position: relative;
        top: 100px;
    }

    footer h4 {
        position: relative;
        top: 120px;

    }

    #servic div {
        display: inline-block;
        position: relative;
        right: 10px;
    }

    #servic div div {
        height: 260px;
        background-color: #F4F4F4;
        width: 300px;
        border-radius: 5%;
        position: relative;
        left: 80px;
        margin-right: 17px;
        top: -80px;
    }

    /*/////////////////////////////////////////////////*/
    #Skill div {
        height: 300px;
        position: relative;
        top: -80px;
        right: 20px

    }

    #Skill div div img {
        width: 20%;
        position: relative;
        left: 105px;
        top: -10px;
    }

    #Skill div div {
        display: inline-block;
        height: 100px;
        width: 260px;
        left: 100px;
        margin-bottom: 25px;
        text-align: center;


    }

    #edu {

        position: relative;
        top: -730px;
        right: 450px;
    }
}

@media all and (max-width: 1385px) and (min-width: 1025px) {
    #Skill div div {
        display: inline-block;
        height: 100px;
        width: 260px;
        left: 10px;

    }
    footer{
        position: relative;
        top: 100px;
    }

    #Skill h1 {

        position: relative;
        top: -95px;
        left: 580px;

    }

    #Skill h3 {
        position: relative;
        left: 580px;
        width: 500px;
        top: -240px;

    }

    #servic {

        position: relative;
        right: 30px;
    }

    #servic h1 {
        position: relative;
        left: 580px;

    }

    #servic h3 {
        position: relative;
        left: 610px;
        width: 500px;
        top: -150px;


    }

    #project h1 {
        position: relative;
        left: 580px;
        width: 500px;

    }

    #project h3 {

        position: relative;
        left: 620px;
        width: 500px;

    }

    #edu {

        position: relative;
        top: -700px;
        right: 450px;
    }
}

@media all and (max-width: 1316px) and (min-width: 1025px) {
    footer {

        position: relative;
        top: 100px;
    }

    #Skill div div {
        display: inline-block;
        height: 100px;
        left: 150px;
        margin-bottom: 10px;
        text-align: center;

    }

    #servic {
        width: 100%;
        position: relative;
        top: -180px;
        left: -50px

    }

    #servic h1 {

        position: relative;
        left: 550px;


    }

    #servic h3 {

        position: relative;
        left: 580px;

    }

    #project h1 {
        position: relative;
        left: 550px;
        top: 100px;


    }

    #project h3 {

        position: relative;
        left: 580px;
        top: -30px;

    }

}

@media all and (max-width: 1281px) and (min-width: 1025px) {
    #About {
        width: 100%;

    }

    #About h1 {
        position: relative;
        left: 450px;
    }

    #About h3 {
        position: relative;
        left: 480px;
    }

    #About div img {
        width: 25%;
        position: relative;
        left: 170px;
    }

    #im ul {
        position: relative;
        left: 600px;

    }


    #im p {

        position: relative;
        left: 580px;
    }

    #cvv {
        position: relative;
        left: 580px;

    }


    #edu {

        position: relative;
        top: -670px;
        right: 450px;
    }

    #ed {
        position: relative;
        left: 300px;

    }

    #Skill {
        width: 100%;
        position: relative;
        left: -40px;
        top: -30px
    }

    #servic {

        position: relative;
        top: -260px;

    }

    #servic div div {
        height: 250px;
        width: 250px;
        position: relative;
        left: 150px;
        margin-right: 20px;
        top: -80px;
    }

    #project h1 {

        position: relative;
        width: 500px;
        font-weight: bold;
        top: -10px;
        display: inline-block;

    }

    #project h3 {
        left: 600px;
        width: 500px;;
        top: -150px;

    }

    footer {
        height: 5px;
        width: 100%;
        position: relative;
        top: 100px;
    }

    #section-wrapper {
        width: 100%;

        position: relative;
        top: -650px;
        height: 500px;

    }

    footer h4 {
        text-align: center;
        font-family: 'Encode Sans Semi Condensed', sans-serif;

    }

}

@media all and (max-width: 1212px) and (min-width: 1025px) {
    #About div img {
        width: 25%;
        position: relative;
        left: 200px;
        top: -100px;
    }

    #edu {
        position: relative;
        top: -620px;
        right: 450px;
    }

    #Skill {
        position: relative;
        top: -100px;
        left: -50px;
    }

    #servic {

        position: relative;
        top: -270px;
        left: -80px;
    }

    #project h1 {

        position: relative;
        left: 470px;
        width: 500px;

    }

    #project h3 {

        position: relative;
        left: 500px;

        top: -140px;

    }

    footer {
        height: 5px;
        width: 100%;
        position: relative;
        top: 100px;
    }
}
@media all and (max-width: 1171px) and (min-width: 1025px){
    .containerr {

        position: relative;
        top: -600px;
    }
    footer h4{
        height: 5px;
        width: 100%;
        position: relative;
        top: -30px;
    }
}
@media all and (max-width: 1154px) and (min-width: 1025px){
    .containerr {

        position: relative;
        top: -600px;
    }
}
    @media all and (max-width: 1150px) and (min-width: 1025px) {
    #About {

        position: relative;
        left: -50px;
    }

    #Skill {
        position: relative;
        left: -100px;
    }

    #servic {
        position: relative;
        left: -110px;
    }
}
@media all and (max-width: 1122px) and (min-width: 1025px){
    #btnViewMore {
        position: relative;
        left: 500px;
    }
    footer {

        position: relative;
        top: 170px;
    }
}
@media all and (max-width: 1114px) and (min-width: 1025px){
    .containerr {
        position: relative;
        top: -300px;
    }
    footer{
        position: relative;

    }
    footer h4{
        position: relative;
        top: 150px;
    }


}



@media all and (max-width: 1114px) and (min-width: 1025px) {
    #ruchaka {
        position: relative;
        left: 600px;

    }

    #cv {

        position: relative;
        left: 400px;

    }

    #hire {
        position: relative;

        left: 430px;

    }

    #About {
        position: relative;
        left: -70px;
    }

    #About h1 {

        position: relative;
        left: 450px;
        top: -20px;
    }

    #About h3 {

        position: relative;
        left: 500px;
        top: -160px;


    }

    #edu {
        position: relative;
        top: -570px;
        right: 320px;
    }

    #Skill h1 {

        position: relative;

        left: 530px;


    }

    #Skill h3 {

        position: relative;
        left: 530px;

    }

    #servic h1 {

        position: relative;
        left: 500px;


    }

    #servic h3 {

        position: relative;
        left: 520px;


    }

    #servic div {
        display: inline-block;

    }

    #servic div div {
        height: 260px;
        background-color: #F4F4F4;
        width: 400px;
        border-radius: 5%;
        position: relative;
        left: 280px;
        margin-right: 20px;
        margin-bottom: 20px;
        top: -80px;
    }

    #servic div div img {
        width: 20%;
        position: relative;
        left: 150px;
        top: 50px;
    }

    #project {
        position: relative;
        top: -100px;
    }

    #project h1 {

        position: relative;
        left: 410px;
        width: 500px;

    }

    #project h3 {
        position: relative;
        left: 440px;

    }

    #btnViewMore {
        position: relative;
        left: 300px;
    }

    #section-wrapper {

        position: relative;
        top: -300px;


    }

    footer {

        position: relative;
        top: 390px;
    }
}

@media all and (max-width: 1054px) and (min-width: 1025px) {

    #About h1 {

        position: relative;
        left: 360px;


    }

    #About h3 {

        position: relative;
        left: 400px;

    }


    #im {
        height: 100px;
        position: relative;
        left: -40px;
        top: 50px;
    }

    #cvv {
        position: relative;
        top: -170px;
    }

    #cvv:hover {
        color: #1289CC;
    }

    #ed {
        position: relative;
        left: 300px;

    }

    #ed p {
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 17px;
        font-weight: bold;
    }

    #Skill h1 {
        position: relative;
        left: 490px;

    }

    #Skill h3 {

        position: relative;
        left: 490px;

    }

    #Skill div div {

        width: 19%;
        left: 100px;
        text-align: center;

    }

    #Skill div div h4 {
        position: relative;
        left: 27px;
    }

    #servic {

        position: relative;
        top: -420px;
        left: -140px;
    }

    #project {
        position: relative;
        top: -260px;
    }

    #section-wrapper {

        position: relative;
        top: -500px;


    }
    .containerr{
        position: relative;
        top: -500px;
    }

    footer {

        position: relative;
        top: 210px;
    }
}

@media all and (max-width: 1025px) and (min-width: 769px) {
    .containerr {
        top: -500px;
        position: relative;
    }
}
@media all and (max-width: 1024px) and (min-width: 769px) {
    #home {
        margin-top: 20px;
        height: 550px;
        width: 100%;


    }

    #hello {
        left: 80px;
    }

    #imruchaka {
        left: 80px;

    }

    #ruchaka {

        position: relative;
        left: 500px;


    }

    span {

        left: 80px;

    }


    #home div a {

        left: 40px;

    }

    #cv {

        left: 350px;

    }

    #hire {
        left: 380px;

    }

    #About{
        position: relative;
        left: -150px;
    }
    #About h1{
        font-size: 90px;
        position: relative;
        left: 450px;
        width: 450px;
    }
    #About h3{
        font-size: 25px;
        position: relative;
        left: 500px;
        width: 450px;
        top: -120px;

    }
    #About div img{
        width: 28%;
        position: relative;

    }
    #im ul{
        position: relative;
        left: 570px;
        top: -380px;
    }
    #im p {
        position: relative;
        left: 550px;
        top: -330px;
    }
    #cvv{
        position: relative;
        top: -170px;
        left: 620px;

    }
    #edu{
        position: relative;
        top: -550px;
        right: 250px;
    }
    #ed {
position: relative;
        left: 300px;
    }
    #Skill{
        position: relative;
        left: -100px;
        top: -130px;
    }
    #Skill h1{
        font-size: 90px;
        position: relative;
        left: 490px;
        width: 450px;

    }
    #Skill h3{
        font-size: 25px;
        position: relative;
        left:490px;
        width: 450px;
        top: -220px;

    }
    #Skill div div h4{
        position: relative;
        left: 30px;
    }
    #servic{

        position: relative;
        top : -420px;
        left: -100px;
    }
    #servic h1{
        font-size: 90px;
        position: relative;
        left: 450px;
        width: 450px;


    }
    #servic h3{
        font-size: 25px;
        position: relative;
        left:480px;
        width: 450px;
        top: -120px;

    }
    #servic div div{
        width: 400px;
        position: relative;
        left: 200px;
        margin-right:20px ;
        top:-80px;
        margin-bottom: 20px;
    }
    #servic div div:nth-child(4){
        top: -65px;
    }
    #servic div div img{
        width: 20%;
        position: relative;
        left: 150px;
        top: 50px;
    }
    #project h1{
        font-size: 90px;
        position: relative;
        left: 350px;
        width: 450px;

    }
    #project h3{
        font-size: 25px;
        position: relative;
        left:400px;
        width: 450px;;
        top: -120px;

    }
    #project{
        position: relative;
        top: -300px;
    }
    #btnViewMore{

        position: relative;
        left: 300px;
    }
    #section-wrapper{

        position: relative;
        top: -500px;


    }
    footer{

        position: relative;
        top: 200px;
    }
}
@media all and (max-width: 969px) and (min-width: 769px){
    #servic div div{

        position: relative;
        left: 160px;

    }
    #edu{
        position: relative;
        top: -500px;
    }
}
@media all and (max-width: 906px) and (min-width: 769px){
    #im ul li{
        width: 300px;
    }
    #im ul{
        width: 300px;
    }
    #servic div div{
        position: relative;
        left: 130px;

    }
    #im {
      position: relative;
        left: -50px;
    }
    #im p {

        position: relative;
        left: 550px;
        top: -350px;
    }
    #edu{
        top: -470px;
    }
}
@media all and (max-width: 851px) and (min-width: 769px){
    #ruchaka{
        position: relative;
        left: 400px;

    }
    #cv{
        position: relative;
        left: 250px;

    }
    #hire{

        position: relative;
        left: 270px;

    }
    #About h1{
        font-size: 80px;
        left: 400px;
        width: 400px;

    }
    #About h3{
        font-size: 23px;
        position: relative;
        left: 450px;
        width: 400px;

    }
    #About div img{
        width: 26%;
        position: relative;
        left: 200px;
        top: -50px;
    }
    #im ul li {
        font-size: 15px;
    }
    #im {
        position: relative;
        left:-100px;
        width: 400px;
        top: 70px;
    }
    #im p {

        position: relative;
        font-size: 15px;
        left: 550px;
        top: -350px;
        width: 450px;

    }
    #cvv{

        position: relative;
        top: -150px;
        left: 500px;

    }
    #edu{
        position: relative;
        top:-470px;
        left:-200px
    }
    #ed p{
        position: relative;
        left: 150px;
        font-size: 15px;
    }
    #Skill{
        top:-280px
    }
    #Skill h1{
        font-size: 80px;
        position: relative;
        top: -95px;
        left: 430px;
        width: 400px;

    }
    #Skill h3{
        width: 400px;
        font-size: 23px;
        position: relative;
        left: 440px;
    }
    #servic{

        position: relative;
        top : -560px;
        left:-115px;
    }
    #servic h1{
        font-size: 80px;
        position: relative;
        left: 410px;
        width: 400px;

    }
    #servic h3{
        font-size: 23px;
        position: relative;
        left:440px;
        width:400px;


    }
    #servic div div{
        height: 260px;
        background-color: #F4F4F4;
        width: 300px;
        border-radius: 5%;
        position: relative;
        left: 240px;
        margin-right:20px ;
        top:-80px;
    }
    #servic div div:nth-child(4){
        position: relative;
        top:-75px;
    }
    #project{
        position: relative;
        top: -430px;
    }
    #project h1{
        font-size: 80px;
        position: relative;
        left: 310px;
        width: 400px;
        top:-20px;

    }
    #project h3{
        font-size: 23px;
        position: relative;
        left:340px;
        width: 400px;;

    }
    .containerr {

        position: relative;
        top: -650px;
    }
    footer{
        position: relative;
        top: -10px;
    }
    #ed{
    left: 100px;
    }
}
@media all and (max-width: 821px) and (min-width: 769px){
    #servic div div{
        left:200px;
    }
}
@media all and (max-width: 769px) and (min-width: 425px){
    body>header{
        height: 8%;
    }
    #home{
       height: 400px;

    }
    #hello{
        font-size: 30px ;

    }
    #imruchaka{
        font-size: 45px;
        top: 23px;

    }
    #ruchaka{
        font-size: 150px;
     left:220px;


    }
    span{
        font-size:38px ;
        position: relative;
        left: 100px;
        top: -330px;
    }
    #home div a  {
        width: 38px;
        margin-left: 25px;
        left: 70px;
        position: relative;
        top: -320px;

    }
    #cv{

        position: relative;
        top: -290px;
        left: 100px;
    }
    #hire{
        position: relative;
        top: -289px;
        left: 130px;

    }
    #About{
    }
    #About h1{
        font-size: 70px;
        position: relative;
        left: 210px;
        width: 350px;
        top: -30px;

    }
    #About h3{
        font-size: 20px;
        position: relative;
        left: 260px;
        width: 350px;
        top: -130px
    }
    #About div img{
        width: 30%;
        position: relative;
        left: 30px;
        top: -70px;
    }
    #im {
        width: 300px;

    }
    #im ul  {
        font-size: 14px;
        left:300px;
        top: -350px;
    }
    #im p {
        position: relative;
        font-size: 14px;
        left: 290px;
        top: -320px;
        width: 350px;
    }
    #cvv{
        position: relative;
        top: -160px;
        left: 320px;
    }
    #ed {
        left: -190px;

    }
    #ed p{
        position: relative;
        font-size: 14px;
        width: 600px;
        left:290px;
    }

    #Skill{
        position: relative;
       top: -270px;
    }
    #Skill h1{
        font-size: 70px;
        position: relative;
        left: 290px;
        width: 300px;

    }
    #Skill h3{
        font-size: 20px;
        position: relative;
        left:300px;
        top: -190px;
        width: 300px;

    }
    #Skill div{
        height: 250px;
        position: relative;
        left: -120px;

    }
    #Skill div div img{
        width:22%;
        position: relative;
        left: 55px;
        top: -10px;
    }
    #Skill div div{
        display: inline-block;
        height: 100px;
        width: 18%;
        left: 140px;
        margin-bottom: 40px;
        text-align: center;
        top: -20px;
    }

    #servic{

        position: relative;
        top : -420px
    }
    #servic h1{
        font-size: 70px;
        position: relative;
        left: 260px;
        width: 300px;


    }
    #servic h3{
        font-size: 20px;
        position: relative;
        left:290px;
        width: 300px;
        top: -100px;

    }
    #servic div{
        display: inline-block;
        position: relative;
        top:40px;
        left: -50px;

    }
    #servic div div{
        width: 250px;
        position: relative;
        left: 160px;
        margin-right:20px ;
        top:-80px;
        margin-bottom: 20px;
    }
    #servic div div img{
        position: relative;
        left: 110px;
    }
    #project{
        position: relative;
        top: -290px;
    }
    #project h1{
        font-size: 70px;
        position: relative;
        left: 270px;
        width: 300px;
    }
    #project h3{
        font-size: 20px;
        position: relative;
        left:310px;
        width: 300px;;
        top: -90px;
    }
    .container{
        position: relative;
        top: -80px;
    }
    #btnViewMore {
   position: relative;
        left: 250px;
    }
    .containerr {
        position: relative;
        top: -440px;
    }
    footer{

        position: relative;
        top: -50px;
    }
}
@media all and (max-width: 769px) and (min-width: 425px){
    #btnViewMore {
       position: relative;
        left: 100px;
    }
    footer {
        position: relative;
        top: -10px;
    }
}
@media all and (max-width: 769px) and (min-width: 425px){
    #btnViewMore {
        position: relative;
        left: 100px;
    }

}
@media all and (max-width: 768px) and (min-width: 425px){
    footer {
        top: 640px;
    }
}
@media all and (max-width: 679px) and (min-width: 425px){
    #ed p{
        position: relative;
        left: 220px;
    }
}
@media all and (max-width: 646px) and (min-width: 425px){
    #About h1{
        position: relative;
        left: 170px;
    }
    #About h3{
        position: relative;
        left: 200px;

    }
    #About div img{
        width: 35%;
        position: relative;

    }
    #im ul li {
     font-size: 13px;
        width: 200px;
    }
    #im ul  {

        width: 200px;
    }
    #im p {
        font-size: 13px;
        width: 250px;
        top: -334px;
    }
    #cvv{
         height: 30px;
         width: 115px;
         font-size: 14px;
         position: relative;
     }
    #ed p{
        font-size: 13px;
     width: 500px;
        top:-30px;
    }
    #Skill h1{

        position: relative;
        left: 240px;
    }
    #Skill h3{
        position: relative;
        left:240px;

    }
    #servic{
        position: relative;
     left: -50px;
    }
    #project h1{

        position: relative;
        left: 210px;


    }
    #project h3{
        position: relative;
        left:240px;

    }

}
@media all and (max-width: 605px) and (min-width: 425px){
    #servic div div{
       width: 200px;
        left:170px;
    }
    #servic div div img{
        position: relative;
        left: 80px;

    }
    #servic div div:nth-child(2){
        position: relative;
        top: -90px;
    }
    #servic div div:nth-child(4){
        position: relative;
        top: -63px;
    }
}
@media all and (max-width: 545px) and (min-width: 425px){
    #ruchaka{

        left: 10px;
    }
    #ed{
        width: 300px;
    }
    #About h1{
        font-size: 60px;
        position: relative;
        left: 120px;
        width: 300px;
    }
    #About h3{
        font-size: 18px;
        position: relative;
        left: 150px;
        width: 300px;
        top:-120px;

    }
    #About div img{
        width: 60%;
        position: relative;
        left: 90px;
        top: -80px;
    }
    #im ul li {
        position: relative;
        left: -200px;
        top:300px;
    }
    #im p {
        position: relative;
        left: 90px;
        top: -40px;
        width: 320px;
    }
    #cvv{
        position: relative;
        top: 220px;
        left: 200px;

    }
    #ed p{

        font-size: 13px;
     position: relative;
        width: 300px;
        top:190px;
        left:280px;
    }
    #Skill{
       position: relative;
        top: 150px;
    }
    #Skill h1{
        font-size: 60px;
        position: relative;
        left: 150px;


    }
    #Skill h3{
        font-size: 18px;
        position: relative;
        left: 150px;
        width:200px;

    }

    #Skill div div img{
        width:25%;
        position: relative;
        left: 105px;
        top: -10px;
    }
    #Skill div div{
        display: inline-block;
        height: 100px;
        width: 23%;
        left: 70px;
        margin-bottom: 40px;
        text-align: center;

    }
    #Skill div div h4{
        position: relative;
        left: 60px;
    }
    #servic{
        position: relative;
        top: 140px;
    }

    #servic h1{
        font-size:60px;
        left: 190px;

    }
    #servic h3{
        font-size: 18px;
        position: relative;
        left:200px;
        top: -90px;

    }
    #servic div div{

        position: relative;
        left: 140px;

    }
    #project{
        position: relative;
        top: 270px;
    }
    #project h1{
        font-size: 60px;
        opacity: 10%;
        position: relative;
        left: 150px;
    }
    #project h3{
        font-size: 18px;
        position: relative;
        left:200px;
        top: -80px;
        width: 200px;


    }
    .containerr {

        position: relative;
        top: 150px;
    }
    footer h4{
        position: relative;
        top: 500px;

    }
}
@media all and (max-width: 463px) and (min-width: 425px){
    #im ul{
        position: relative;
        left: -100px;
    }
    #im ul li {
        left: 200px;
    }
    #servic div div{
        left: 120px;
    }
}
@media all and (max-width: 445px) and (min-width: 425px){
    #servic div div{
        width: 150px;
        left: 150px;
    }
    #servic div div:nth-child(2){
       top: -108px;
    }
    #servic div div:nth-child(4){
        top: -80px;
    }
}
@media all and (max-width: 430px) and (min-width: 375px){
    /*body>header{
        height: 10%;


    }*/
    #home{
        height: 400px;

    }
    #hello{
        font-size: 25px ;
        left: 20px;
        top: 40px;
    }
    #imruchaka{
        font-size: 30px;
        position: relative;
        left: 20px;
        top: 40px;
        width: 300px;
    }
    #ruchaka{
        opacity: 1%;



    }
    span{
        font-size:30px ;
        position: relative;
        left: 20px;
        top: -300px;
    }
    #home div a  {
        width: 34px;
        height: 34px;
        font-size: 20px;
        margin-left: 10px;
        left: 10px;
        position: relative;
        top: -280px;

    }
    #cv{
        height: 25px;
        width: 100px;
        font-size: 16px;
        position: relative;
        top: -250px;
        left: 30px;

    }
    #hire{
        height: 25px;
        width: 100px;
        font-size: 16px;
        position: relative;
        top: -250px;
        left: 60px;
    }
    #About h1{
        font-size: 45px;
        position: relative;
        left: 100px;
        width: 230px;

    }
    #About h3{
        font-size: 15px;
        position: relative;
        left: 110px;
        width: 200px;
        top: -95px;

    }
    #About div img{
        width: 70%;
        position: relative;
        left: 60px;
        top: -50px;
    }
    #im ul li {
      left: 180px;
        top: 320px;
    }
    #im p {
        position: relative;
        left: 63px;
        width: 300px;
        top: -20px;

    }
    #ed p{

        font-size: 14px;
        font-weight: bold;
        top: 220px;
        left: 250px;
    }
    #cvv{
        height: 35px;
        width: 125px;
        font-size: 15px;
        position: relative;
        top: 290px;
        left: 120px;

    }
    #Skill h1{
        font-size: 55px;
        left:140px;
        width: 230px;

    }
    #Skill h3{
        font-size: 15px;
        position: relative;
        left:140px;
        width: 230px;
        top: -170px;

    }
    #Skill{
        top: 100px;
    }
    #servic{

        position: relative;
        top : 50px
    }
    #servic h1{
        font-size: 45px;
        left: 190px;
        width: 240px;


    }
    #servic h3{
        font-size: 15px;
        position: relative;
        left:200px;
        width: 240px;
        top: -70px;


    }
    #servic div div{
        height: 260px;
        width: 300px;
        position: relative;
        left: 150px;
        margin-right:20px ;
        top:-80px;

    }
    #servic div div:nth-child(1){
      margin-bottom: 50px;
    }
    #servic div div img{
        position: relative;
        left: 120px;
    }
    #project{
        position: relative;
        top: 700px;
    }
    #project h1{
        font-size: 45px;
        top: 20px;
        left: 130px;
        width: 240px;

    }
    #project h3{
        font-size: 15px;
        position: relative;
        left:150px;
        width: 240px;;
        top: -40px;
    }
    .containerr {
        position: relative;
        top: 550px;
    }
    footer{
        height: 5px;

        position: relative;
        top: 940px;
    }

}
@media all and (max-width: 425px){
  /*  body>header{
        height: 10%;


    }*/
    #home{
        height: 400px;

    }
    #hello{
        font-size: 25px ;
        left: 20px;
        top: 40px;
    }
    #imruchaka{
        font-size: 30px;
        position: relative;
        left: 20px;
        top: 40px;
        width: 300px;
    }
    #ruchaka{
        opacity: 1%;
        left: -300px;


    }
    span{
        font-size:30px ;
        position: relative;
        left: 20px;
        top: -300px;
    }
    #home div a  {
        width: 34px;
        height: 34px;
        font-size: 20px;
        margin-left: 10px;
        left: 10px;
        position: relative;
        top: -280px;

    }
    #cv{
        height: 25px;
        width: 100px;
        font-size: 16px;
        position: relative;
        top: -250px;
        left: 30px;

    }
    #hire{
        height: 25px;
        width: 100px;
        font-size: 16px;
        position: relative;
        top: -250px;
        left: 60px;
    }
    #About h1{
        font-size: 45px;
        position: relative;
        left: 100px;
        width: 230px;

    }
    #About h3{
        font-size: 15px;
        position: relative;
        left: 110px;
        width: 200px;
        top: -65px;

    }
    #About div img{
        width: 70%;
        position: relative;
        left: 60px;
        top: -50px;
    }
    #im ul li {
        left: 180px;
        top: 320px;
        font-size: 13px;
        width: 200px;
    }
    #im ul{
        position: relative;
        left:80px;
        top: -40px;
        width: 200px;
    }
    #im p {
        font-size: 13px;
        position: relative;
        left: 63px;
        width: 300px;
        top: -20px;

    }
    #im  {
        width: 300px;


    }
    #ed p{

        font-size: 13px;
        font-weight: bold;
        top: 220px;
        left: 250px;
    }
    #ed{
        position: relative;
        left: 60px;
        top: 100px;
        width:300px;
    }
    #cvv{
        height: 35px;
        width: 125px;
        font-size: 15px;
        position: relative;
        top: 290px;
        left: 120px;

    }

    #Skill h1{
        font-size: 55px;
        left:140px;
        width: 200px;
    top:10px
    }
    #Skill h3{
        font-size: 15px;
        position: relative;
        left:140px;
        width: 200px;
        top: -70px;

    }
    #Skill div{
        height: 300px;
        position: relative;
        top :-10px;
        left:-100px;
    }
    #Skill div div img{
        width:40%;
        position: relative;
        left: 20px;
        top: -10px;
    }
    #Skill div div{
        display: inline-block;
        margin-bottom: 20px;
        text-align: center;
        margin-left:25px;
        left:80px;
    }
    #servic{

        position: relative;
        top : 50px
    }
    #servic h1{
        font-size: 45px;
        left: 110px;
        width: 200px;


    }
    #servic h3{
        font-size: 15px;
        position: relative;
        left:120px;
        width: 200px;
        top: -70px;


    }
    #servic div div{
        height: 260px;
        width: 300px;
        position: relative;
        left: 40px;
        margin-right:20px ;
        top:-40px;

    }
    #servic div div:nth-child(1){
        margin-bottom: 50px;
    }
    #servic div div img{
        position: relative;
        left: 120px;
    }
    #project{
        position: relative;
        top: 750px;
    }
    #project h1{
        font-size: 45px;
        top: -60px;
        left: 120px;
        width: 240px;

    }
    #project h3{
        font-size: 15px;
        position: relative;
        left:140px;
        width: 240px;;
        top: -120px;
    }
    #btnViewMore{
        height: 30px;
        width: 100px;
        font-size: 14px;
        border-radius: 5%;
        position: relative;
        left: 100px;
    }
    .containerr {
        position: relative;
        top: 550px;
    }
    footer{
        height: 5px;

        position: relative;
        top:1480px;
    }
}
@media all and (max-width: 425px){
    #servic div div{

        margin-bottom: 20px;

    }
    #servic div div:nth-child(1){

        top: -10px;

    }
    #project{
        position: relative;
        top: 770px;
    }
}
@media all and (max-width: 401px){
    #Skill div div{
        left:130px;
        margin-bottom: 10px;
    }
    #servic div div{

        margin-bottom: 20px;

    }
    #servic div div:nth-child(1){
        top: -10px;

    }
    #project{

        top: 770px;
    }
}
@media all and (max-width: 375px){
    /*body>header{
        height: 13%;


    }*/
    #home{
        height: 400px;

    }
    #hello{
        font-size: 25px ;
        left: 20px;
        top: 40px;
    }
    #imruchaka{
        font-size: 30px;
        position: relative;
        left: 20px;
        top: 40px;
        width: 300px;
    }
    #ruchaka{
        opacity: 1%;
        left: -300px;


    }
    span{
        font-size:30px ;
        position: relative;
        left: 20px;
        top: -300px;
    }
    #home div a  {
        width: 34px;
        height: 34px;
        font-size: 20px;
        margin-left: 10px;
        left: 10px;
        position: relative;
        top: -280px;

    }
    #cv{
        height: 25px;
        width: 100px;
        font-size: 16px;
        position: relative;
        top: -250px;
        left: 30px;

    }
    #hire{
        height: 25px;
        width: 100px;
        font-size: 16px;
        position: relative;
        top: -250px;
        left: 60px;
    }
    #About h1{
        font-size: 45px;
        position: relative;
        left: 60px;
        width: 230px;

    }
    #About h3{
        font-size: 15px;
        position: relative;
        left: 70px;
        width: 200px;
        top: -65px;

    }
    #About div img{
        width: 80%;
        position: relative;
        left: 30px;
        top: -50px;
    }
    #im ul li {
        left: 150px;
        top: 320px;
        font-size: 13px;
        width: 200px;
    }
    #im ul{
        position: relative;
        left:70px;
        top: -40px;
        width: 200px;
    }
    #im p {
        font-size: 13px;
        position: relative;
        left: 43px;
        width: 250px;
        top: -20px;

    }
    #im  {
        width: 250px;


    }
    #ed p{

        font-size: 13px;
        font-weight: bold;
        top: 220px;
        left: 200px;
    }
    #ed{
        position: relative;
        left: 40px;
        top: 100px;
        width:250px;
    }
    #cvv{
        height: 35px;
        width: 125px;
        font-size: 15px;
        position: relative;
        top: 300px;
        left: 100px;

    }

    #Skill h1{
        font-size: 55px;
        left:100px;
        width: 200px;
        top:10px
    }
    #Skill h3{
        font-size: 15px;
        position: relative;
        left:110px;
        width: 200px;
        top: -70px;

    }
    #Skill div{
        height: 300px;
        position: relative;
        top :-10px;
        left:-100px;
    }
    #Skill div div img{
        width:40%;
        position: relative;
        left: 20px;
        top: -10px;
    }
    #Skill div div{
        display: inline-block;
        margin-bottom: 20px;
        text-align: center;
        margin-left:25px;
        left:120px;
    }
    #servic{

        position: relative;
        top : 100px
    }
    #servic h1{
        font-size: 45px;
        left: 90px;
        width: 200px;


    }
    #servic h3{
        font-size: 15px;
        position: relative;
        left:100px;
        width: 200px;
        top: -70px;


    }
    #servic div div{
        height: 260px;
        width: 270px;
        position: relative;
        left: 40px;
        margin-right:20px ;
        top:-40px;
        margin-bottom: 20px;

    }

    #servic div div img{
        position: relative;
        left: 120px;
    }
    #servic div div:nth-child(1){
        position: relative;
       top: -10px;
    }
    #project{
        position: relative;
        top: 820px;
    }
    #project h1{
        font-size: 45px;
        top: -60px;
        left: 100px;
        width: 140px;

    }
    #project h3{
        font-size: 15px;
        position: relative;
        left:120px;
        width: 140px;;
        top: -120px;
    }
    #btnViewMore{
        height: 30px;
        width: 100px;
        font-size: 14px;
        border-radius: 5%;
        position: relative;
        left: 100px;
    }
    .containerr {
        position: relative;
        top: 590px;
    }
    footer{
        height: 5px;

        position: relative;
        top:1500px;
    }
}
@media all and (max-width: 347px){
    #servic div div{
        height: 260px;
        width: 270px;
        position: relative;
        left: 30px;
        margin-right:20px ;
        top:-40px;
        margin-bottom: 20px;

    }
}
@media all and (max-width: 327px){
    #servic div div{
        height: 260px;
        width: 270px;
        position: relative;
        left: 25px;
        margin-right:20px ;
        top:-40px;
        margin-bottom: 20px;

    }
}