* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    /*background: rgb(4,4,4);
    background: linear-gradient(90deg, rgba(4,4,4,1) 28%, rgba(25,21,21,1) 46%, rgba(35,75,91,1) 92%);
*/ background: white;

}
body>header{
    height: 6%;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    z-index: 2;

}
body>header>nav {
    margin: 13px;
    position: absolute;
    top: 0;
    right: 10px;
}


body>header>nav>ul>li {
    display: inline-block;
    padding: 0px 10px ;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    color: white;
    cursor: pointer;


}
body>header>nav>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;

}

header>nav>ul>li a:hover{
    color: #1289CC;

}
/*//////////////////////////////Home///////////////////////////*/
#home{
   margin-top: 40px;
    background : url("../img/4-47732_hacker-boy-hacker.jpg")  no-repeat center  fixed;
    height: 600px;
    width: 100%;


}

#hello{
    font-size: 35px ;
    font-family: 'Chivo', sans-serif;
    color: #00D0FE;
    position: relative;
    left: 100px;
    top: 40px;
}
#imruchaka{
    font-size: 60px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    position: relative;
    left: 100px;
    top: 40px;
    width: 300px;
}
#ruchaka{
    font-size: 150px;
    font-family: 'Fuggles', cursive;
    color: white;
    position: relative;
    left: 800px;
    top: -130px;
    width: 200px;
    opacity: 50%;
    font-weight: normal;


}
span{
    font-size:40px ;
    color: #00D0FE;
    font-family: 'League Spartan', sans-serif;
    position: relative;
    left: 100px;
    top: -300px;
}


#home div a  {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00D0FE;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #00D0FE;
    margin-left: 40px;
    left: 60px;
    position: relative;
    top: -250px;

}
#gif{
    position: relative;
    left: 550px;
    top: -150px;
}
#cv{
    height: 40px;
    width: 135px;
    border-radius: 10%;
    color: white;
    font-size: 19px;
    background-color: #1289CC;
    border: none;
    position: relative;
    top: -200px;
    left: 600px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#cv:hover{
    background-color: black;
}
#hire{
    height: 40px;
    width: 135px;
    border-radius: 10%;
    color: white;
    font-size: 19px;
    background-color: #1289CC;
    border: none;
    position: relative;
    top: -200px;
    left: 620px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#hire:hover{
    background-color: black;
}
/*/////////////////////about/////////////////////////*/
#About{
    width: 100%;
    height: 850px;
}
#About h1{
    font-size: 100px;
    opacity: 10%;
    position: relative;
    left: 500px;
    width: 700px;
    font-weight: bold;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
#About h3{
    font-size: 30px;
    position: relative;
    left: 550px;
    width: 700px;
    top: -150px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: normal;
}
#About div img{
    width: 25%;
    position: relative;
    left: 200px;
    top: -50px;
}
#im ul{
    position: relative;
    left: 750px;
    top: -450px;
}
#im ul li {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: normal;
}
#im {
    height: 100px;
    width: 500px;
}
#im p {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: normal;
    position: relative;
    left: 725px;
    top: -380px;
}
#cvv{
    height: 40px;
    width: 135px;
    border-radius: 10%;
    color: white;
    font-size: 19px;
    background-color: black;
    border: none;
    position: relative;
    top: -200px;
    left: 720px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#cvv:hover{
    color : #1289CC;
}

#edu{
    font-family: 'Barlow Semi Condensed', sans-serif;
    opacity: 50%;
    transform: rotate(-90deg);
    position: relative;
    top: -790px;
    right: 450px;
}
#ed {
    position: relative;
    height: 300px;
    width: 700px;
    left: 400px;
    top: -140px;
}
#ed p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

/*////////////////////SKILLS///////////////////*/
#Skill{
    width: 100%;
}
#Skill h1{
    font-size: 100px;
    opacity: 10%;
    position: relative;
    left: 640px;
    width: 700px;
    font-weight: bold;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
#Skill h3{
    font-size: 30px;
    position: relative;
    left:640px;
    width: 700px;
    top: -150px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: normal;
}
#Skill div{
    height: 300px;
    position: relative;


}
#Skill div div img{
    width:20%;
    position: relative;
    left: 105px;
    top: -10px;
}
#Skill div div{
    display: inline-block;
    height: 100px;
    width: 260px;
    left: 100px;
    margin-bottom: 40px;
    text-align: center;

}
#Skill div div h4{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
/*/////////////////////SERVICE/////////////////////*/
#servic{
    height: 500px;
    width: 100%;
}
#servic h1{
    font-size: 100px;
    opacity: 10%;
    position: relative;
    left: 610px;
    width: 700px;
    font-weight: bold;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
#servic h3{
    font-size: 30px;
    position: relative;
    left:640px;
    width: 700px;
    top: -150px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: normal;
}
#servic div{
    display: inline-block;

}
#servic div div{
    height: 260px;
    background-color: #F4F4F4;
    width: 300px;
    border-radius: 5%;
    position: relative;
    left: 120px;
    margin-right:20px ;
}
#servic div div img{
    width: 20%;
    position: relative;
    left: 120px;
    top: 50px;
}
#servic div div h4{
    text-align: center;
    position: relative;
    top: 60px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
#servic div div h6{
    text-align: center;
    position: relative;
    top: 100px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}



/*////////////////////projects/////////////////////////*/
#project h1{
    font-size: 100px;
    opacity: 10%;
    position: relative;
    left: 610px;
    width: 700px;
    font-weight: bold;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
#project h3{
    font-size: 30px;
    position: relative;
    left:640px;
    width: 700px;
    top: -150px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: normal;
}

/*=============== GOOGLE FONTS ===============*/


/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/




img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== CARD ===============*/
.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    position: relative;
    top : -100px
}

.card__container {
    display: grid;
    row-gap: 3.5rem;
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 328px;
    border-radius: 1.5rem;
}

.card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.card__button:hover {
    text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .card__data {
        width: 250px;
        padding: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1120px) {
    .container {
        height: 100vh;
    }

    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
        width: 348px;
    }
    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}


/*#about{
    width: 100%;
    margin-top: 50px;
    height: 650px;
}
#abo{
    position: absolute;
    left: 900px;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
    font-weight: normal;
}
#div1{
    height: 10px;
    width: 230px;
    color: #1289CC;
    background-color: #1289CC;
    position: absolute;
    left: 900px;
    top: 780px ;
}
#div3 img{
    width: 23%;
    position: relative;
    left: 150px;
    top: 150px;
    z-index: 1;
}
#div2 {
    border: 5px solid #1289CC;
    height: 400px;
    width: 350px;
    position: relative;
    top: -300px;
    left: 250px;

}
#div4{
    height: 200px;
    width: 500px;
    position: relative;
    top: -600px;
    left: 800px;
}
#div4  h1{
    color: white;
    font-family: 'League Spartan', sans-serif;
font-weight: normal;
}

#div4  h3{
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}
#div5{
    height: 5px;
    width: 800px;
    color: white;
    background-color: white;
    position: relative;
    left: 350px;
    top: -400px;
}
!*!///////////////////education////////////////////////////!*!
#educatio{
    height: 500px;
    width: 100%;
    background : url("../img/homeee.jpg") no-repeat center center fixed ;

}
#educatio h1{
    position: absolute;
    left: 100px;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
    font-weight: normal;

}
#a{
    height: 10px;
    width: 260px;
    color: #1289CC;
    background-color: #1289CC;
    position: relative;
   top: 90px;
    left:100px;
}
#primary{
    position: relative;
    width: 600px;

}
#primary h2{
    color: #1289CC;
    font-family: 'League Spartan', sans-serif;
    position: relative;
    left: 300px;
    top: 150px;


}
#primary h3{
    color: white;
    position: relative;
    left: 400px;
    top: 170px;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
}
#primary h4{
    color: white;
    position: relative;
    left: 430px;
    top: 180px;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
}
#secondary{
    position: relative;
    width: 600px;

}
#secondary h2{
    color: #1289CC;
    font-family: 'League Spartan', sans-serif;
    position: relative;
    left: 300px;
    top: 192px;


}
#secondary h3{
    color: white;
    position: relative;
    left: 400px;
    top: 200px;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
}
#secondary h4{
    color: white;
    position: relative;
    left: 430px;
    top: 210px;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
}
#high{
    position: relative;
    width: 600px;

}
#high h2{
    color: #1289CC;
    font-family: 'League Spartan', sans-serif;
    position: relative;
    left: 300px;
    top: 215px;


}
#high h3{
    color: white;
    position: relative;
    left: 400px;
    top: 220px;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
}
#high h4{
    color: white;
    position: relative;
    left: 430px;
    top: 230px;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
}*/


